/*-----Gernal-----*/
body
{
	font-family: Montserrat,monospace;
	color: white;
	margin:0;
	padding:0;
}
button
{
	background-color: black;
	color: white;
	font-family: Montserrat,monospace;
	border: none;
	padding: 5px 10px;
	text-align:center;
	text-decoration: none;
	cursor: pointer;
}
p
{
	font-family: Montserrat,monospace;
	/*color:#d3d3d3;*/
}

/*-----Login-----*/
.bg
{
	background: url("Cargo.jpg") no-repeat center center;
	background-size: cover;
	font-family: Montserrat,monospace;
	font-size: 16px;
	color: black;
}
#box
{
    position: absolute;
    left: 35%;
    top: 30%;
    width: 400px;
    height: 300px;
    border-radius: 5px;
    background-color: #b8b8b8; 
    opacity:0.50;
}
.mainmenu-login
{
	position:absolute;
    left: 35%;
    top: 37%;
	font-size: 20px;
}
.mainmenu-serial
{
	position:absolute;
    left: 35%;
    top: 49.5%;
	font-size: 20px;
}
.login-form
{
    position: absolute;
    left: 38%;
    top: 40%;
}
.serial-form
{
    position: absolute;
    left: 36%;
    top: 45%;
}
a:link.select, a:visited.select
{
	display: inline-block;
	width: 400px;
	height: 70px;
	padding-top: 28px;
    color:black;
	text-align:center;
    text-decoration: none;
}
a:hover.select , a:active.select
{
	display: inline-block;
	background-color: #4d4d4d;
	opacity: 0.8;
	width: 400px;
	height: 70px;
	padding-top: 28px;
    color:white;
	text-align:center;
}
a:link.back, a:active.back
{
	color:black;
    text-decoration: none;
}
a:hover.back, a:active.back
{
	color:white;
} 

/*-----Content-----*/
.container
{
	position: absolute;
	width: 90%;
	height: 100%;
	margin-left: 10%;
	background-color: black;
	overflow: auto; /*in order to make the black bg continues when there's an extra content*/
}
.content
{
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom:0;
	text-align: justify;
	
}
hr
{
	width: 100%;
	float: left;
}

/*-----Navigation Bar-----*/
.navigation
{
	position:fixed;
	width: 10%;
	height:100%;
	margin:0;
	padding: 0;
	float: left;
	background: url("Cargo-fade.jpg") no-repeat center;
	background-size: cover;
}
ul
{
	background-color: #3d3d3d;
	text-decoration: none;
}

li a.menu
{
	display: block;
	padding: 8px 16px;
	text-align: center;
	color: white;
	text-decoration: none;
}

li a:hover.menu
{
	background-color: black;
}
.current
{
	background-color: black;
}

/*-----Contact-----*/
input[type=text].message
{
	width: 100%;
	padding: 20px;
}
button.message
{
	background-color: #f2f2f2;
	color: black;
	font-family: Montserrat,monospace;
	font-size: 18px;
	border: none;
	padding: 10px 30px;
	text-align:center;
	text-decoration: none;
	cursor: pointer;
}
button:hover.message
{
	background-color: black;
	color: white;
	font-family: Montserrat,monospace;
	font-size: 18px;
	border: 1px solid white;
	padding: 10px 30px;
	text-align:center;
	text-decoration: none;
	cursor: pointer;
}

